blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff;
}
body {
  background-color: #fff;
  font-size: 12px;
  line-height: 1.5;
  font-family: microsoft yahei, Simsun, sans-serif;
  color: #333;
}
fieldset,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
img {
  display: block;
}
input,
textarea {
  font-size: 12px;
}
table {
  border-collapse: collapse;
}
a {
  color: #666;
  text-decoration: none;
  outline: 0 none;
  cursor: pointer;
}
a:hover {
  color: #0065bb;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: microsoft yahei, Simsun, sans-serif;
}
ol li,
ul li {
  list-style: none;
}
dfn {
  font-style: normal;
  font-size: 12px;
  font-family: Arial !important;
}
select {
  padding: 1px;
  font-family: Arial, Simsun, sans-serif;
  border: 1px solid #ccc;
  background-color: #fff;
}
input[type="text"] {
  padding: 3px;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 3px #ddd inset;
}
input[type="text"]:focus {
  background-color: #f1f9ff;
  border-color: #5d9de5 #67a1e2 #67a1e2 #5d9de5;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px #d0dee6 inset;
}
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
.layoutfix {
  display: inline-block;
}
.layoutfix {
  display: block;
  overflow: hidden;
}
.basefix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.float_left {
  float: left !important;
}
.float_right {
  float: right !important;
}
.invisible {
  visibility: hidden !important;
}
.hidden {
  display: none !important;
}
.border_none {
  border: 0 none !important;
}
.base_price {
  font-style: normal;
  text-decoration: none;
}
.base_price dfn {
  font-family: Arial;
  font-size: 12px;
}
.base_label {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.base_label:hover {
  border-bottom: 1px dashed #aaa;
}
.base_label input {
  margin: -4px 3px 0 0;
  width: 12px;
  height: 12px;
  overflow: hidden;
  border: none;
  font-family: Arial;
  vertical-align: middle;
}
.input_error {
  background-color: #fff7d9 !important;
  border-color: #d80000 #e50000 #e50000 #d80000 !important;
  border-style: solid;
}
.input_default {
  color: grey !important;
}
.inputSel {
  color: grey !important;
}
.orange {
  color: #f60 !important;
}
.new_search_content {
  position: relative;
  float: left;
  width: 280px;
  height: 34px;
  border: 3px solid #fe9813;
  padding-left: 105px;
  border-radius: 5px 0 0 5px;
  box-shadow: 1px 1px 3px #ddd inset;
}
.new_search_box {
  position: relative;
  height: 34px;
  overflow: hidden;
}
.new_search_notice {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 280px;
  height: 34px;
  font: 16px/34px microsoft yahei, simsun;
  text-indent: 1em;
  color: grey;
  cursor: text;
}
.new_search_content .search_txt {
  width: 272px;
  height: 27px;
  font: 16px/27px microsoft yahei, simsun, sans-serif;
  background-color: transparent;
  border: 0 none;
  box-shadow: inherit;
}
.catalog_list {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 102px;
  border-width: 1px;
  border-style: solid;
}
.catalog_list a {
  display: block;
  font: 14px/28px microsoft yahei, simsun, sans-serif;
  color: #666;
  padding-left: 10px;
}
.catalog_list a:hover {
  text-decoration: none;
}
.catalog_list dt a {
  position: relative;
  color: #333;
  line-height: 32px;
  height: 33px;
}
.catalog_list dt i {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  font-size: 0;
  right: 10px;
}
.catalog_list dd a:hover {
  background-color: #eee;
  color: #666;
}
.catalog_icon_down {
  border-color: #fe9813;
  border-right-width: 2px;
}
.catalog_icon_down dt a {
  background-color: #fff8d5;
}
.catalog_icon_down dt a:hover,
.catalog_icon_up dt a:hover {
  color: #06c;
  background-color: #fff;
}
.catalog_icon_down dt a:hover i {
  border-top-color: #06c;
}
.catalog_icon_up dt a:hover i {
  border-bottom-color: #06c;
}
.catalog_icon_up {
  border-color: #fd8d01;
}
.catalog_icon_up dt i {
  border-style: none dashed solid dashed;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #666 transparent;
  top: 14px;
}
.catalog_icon_down dt i {
  border-style: solid dashed none dashed;
  border-width: 4px 4px 0 4px;
  border-color: #fa8a22 transparent transparent transparent;
  top: 14px;
}
.place_list {
  position: absolute;
  width: 410px;
  left: 103px;
  top: 37px;
  border: 1px solid #aaa;
  background-color: #fff;
  padding: 5px 0;
}
.place_list li a {
  display: block;
  height: 28px;
  overflow: hidden;
  font: 12px/28px microsoft yahei, simsun, sans-serif;
  color: #aaa;
  text-align: right;
  padding: 0 10px;
}
.place_list li span {
  float: left;
  width: 280px;
  text-align: left;
  font: 14px/28px microsoft yahei, simsun, sans-serif;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.place_list li span em {
  font-style: normal;
  color: #aaa;
}
.place_list a:hover {
  background-color: #ecf8fd;
  text-decoration: none;
}
.place_list .place_catalog {
  border-bottom: 1px solid #ddd;
}
.place_list .place_catalog a {
  padding-left: 24px;
}
.station_search {
  margin-top: 10px;
}
.station_search_box {
  height: 28px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #ddd inset;
  position: relative;
  z-index: 3;
}
.station_search_box input {
  border: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  box-shadow: none !important;
  width: 96%;
  height: 22px;
  margin: 2px 2%;
  outline: 0;
}
.station_search_box input:focus {
  background-color: #fff !important;
}
.station_search_box p {
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
  text-indent: 10px;
  z-index: -1;
  line-height: 28px;
}
.station_wordsselect {
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}
.station_wordsselect a {
  display: inline-block;
  padding: 0 10px;
  line-height: 22px;
  height: 22px;
  white-space: nowrap;
  color: #000;
  font-family: "Microsoft yahei";
}
.station_wordsselect a.on,
.station_wordsselect a:hover {
  color: #fff !important;
  background-color: #1d74e6;
  text-decoration: none;
}
.station_search_list {
  margin-top: -1px;
  display: none;
  position: relative;
  z-index: 1;
}
.station_search_list li {
  padding-left: 15px;
  line-height: 30px;
  border-top: 1px dotted #eaeaea;
}
.station_search_list li:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.station_search_list li span {
  margin-left: -15px;
  font-size: 14px;
  color: #1d74e6;
  font-weight: 700;
  float: left;
  margin-top: 1px;
}
.station_search_list li a {
  display: inline-block;
  margin-left: 15px;
  color: #000;
}
.station_search_list li a:hover {
  color: #1d74e6;
}
.station_search_result {
  padding: 5px 0;
  font-weight: 700;
}
.station_search_result a {
  display: inline-block;
  margin-right: 10px;
  line-height: 28px;
  color: #0065bb;
}
.cui_sub_nav {
  width: 1178px;
}
.vacation_bd {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.vacation_bd:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.banner_col .banner_more b,
.brief_list .list_more b,
.channel_hot_dest dt b,
.column_mod h2 i,
.diamond_icon,
.icon_wifi,
.list_tips,
.search_wrap .main_search_btn i,
.side_ad_tourism dd i,
.side_advantage dd i,
.start_city_station dt b,
.start_city_station dt i {
  background-image: url(../../../../../../../../vacation_v2/group_travel/un_group_index.png);
  background-repeat: no-repeat;
}
.vacation_bg {
  background: url(../../../../../../../../vacation_v2/group_travel/group_index_bg.png);
  margin: 30px 0 20px;
}
.channel_hot_destination {
  width: 342px;
  border: 4px solid #3983e5;
  border-radius: 5px;
  float: left;
  position: relative;
  z-index: 1;
}
.channel_destination_detail {
  line-height: 28px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.destination_domestic {
  height: 280px;
}
.destination_international {
  height: 364px;
}
.destination_other {
  margin-bottom: 6px;
}
.channel_hot_search {
  margin-bottom: 6px;
  height: 116px;
  overflow: hidden;
}
.channel_destination_detail li {
  cursor: pointer;
}
.channel_hot_search li {
  line-height: 22px;
}
.channel_hot_search .title {
  height: 28px;
  line-height: 28px;
}
.channel_destination_detail .title {
  background-color: #f3faff;
  height: 28px;
  overflow: hidden;
  cursor: auto;
  position: relative;
}
.channel_destination_detail .title i,
.channel_hot_search .title i {
  position: absolute;
  color: #c4e5fd;
  font-size: 24px;
  font-style: normal;
  font-family: simsun, sans-serif;
  line-height: 28px;
}
.channel_hot_search .title i {
  color: #d8f0cc;
}
.channel_destination_detail h3 {
  color: #0065bb;
  font-size: 14px;
  width: 56px;
  text-align: right;
}
.channel_destination_detail h4,
.channel_hot_search h4 {
  width: 56px;
  text-align: right;
  font-size: 12px;
}
.channel_destination_detail h4 a,
.channel_hot_search h4 a {
  color: #333;
}
.channel_destination_detail .channel_destination_link {
  padding-left: 70px;
  margin-top: -28px;
  font-size: 0;
  line-height: 0;
}
.channel_hot_search .channel_destination_link {
  padding-left: 70px;
  margin-top: -22px;
}
.channel_destination_detail .channel_destination_link a,
.channel_hot_search .channel_destination_link a {
  display: inline-block;
  margin-right: 14px;
  color: #333;
  font-size: 12px;
  line-height: 28px;
}
.channel_hot_search .channel_destination_link a {
  line-height: 22px;
}
.channel_destination_detail .channel_destination_link a:hover,
.channel_destination_detail h4 a:hover,
.channel_hot_search h4 a:hover {
  color: #0065bb;
}
.channel_hot_search h3 {
  color: #639d45;
  font-size: 14px;
  padding-left: 26px;
}
.channel_hot_search .channel_destination_link a {
  margin-right: 14px;
}
.channel_destination_detail .current {
  background-color: #3983e6;
  cursor: pointer;
  color: #fff;
}
.channel_destination_detail .current h3 {
  color: #fff;
}
.channel_destination_detail .current a {
  color: #fff;
}
.channel_destination_detail .current a:hover {
  color: #fff;
}
.index_top_wrap {
  margin-bottom: 20px;
  padding-top: 6px;
}
.city_wrap {
  float: left;
  padding-left: 94px;
}
.group_img_box {
  position: relative;
  width: 94px;
  margin-left: -94px;
  display: block;
}
.group_img_box i {
  background-image: url(../../../../../../../../vacation_v2/group_travel/v_icon.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 94px;
  height: 43px;
  background-position: 0 0;
  top: -3px;
  left: 0;
}
.channel_hot_dest,
.start_city_station {
  float: left;
}
.channel_hot_dest dt,
.start_city_station dt {
  position: relative;
  height: 38px;
  border: 1px solid #d6d6d6;
  font: 16px/38px microsoft yahei, simsun, sans-serif;
  color: #06c;
  width: 90px;
  cursor: pointer;
  padding: 0 34px 0 50px;
  background: #fafafa;
  z-index: 62;
}
.channel_hot_dest dt:hover,
.start_city_station dt:hover {
  background: #fff;
}
.start_city_station dt span {
  color: #666;
  font-size: 12px;
  padding-left: 4px;
}
.start_city_station dt i {
  position: absolute;
  width: 14px;
  height: 17px;
  left: 21px;
  top: 11px;
  overflow: hidden;
}
.channel_hot_dest dt b,
.start_city_station dt b {
  position: absolute;
  width: 8px;
  height: 5px;
  background-position: -41px -5px;
  top: 17px;
  right: 10px;
  overflow: hidden;
}
.channel_hot_dest dd,
.start_city_station dd {
  position: absolute;
  background-color: #fff;
  z-index: 60;
  border: 1px solid #d6d6d6;
  margin-top: -1px;
  padding: 14px;
  width: 320px;
  display: block;
}
.start_city_station .hot_station {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 8px;
}
.start_city_station .hot_station h4 {
  font-weight: 400;
  color: #999;
  font-size: 12px;
  line-height: 20px;
}
.start_city_station .hot_station a {
  display: inline-block;
  line-height: 20px;
  margin-right: 8px;
  color: #666;
}
.start_city_station a:hover {
  color: #0065bb;
}
.start_city_station .station_list li {
  padding-top: 8px;
}
.start_city_station .station_list span {
  width: 16px;
  height: 14px;
  text-align: center;
  line-height: 16px;
  background-color: #74c1f8;
  color: #fff;
  display: inline-block;
  margin-right: 16px;
}
.start_city_station .station_list a {
  display: inline-block;
  margin-right: 8px;
  color: #666;
}
.city_spread dt b,
.dest_spread dt b {
  background-position: -24px -5px;
}
.city_spread dd,
.dest_spread dd {
  display: block;
}
.channel_hot_dest dt {
  width: 173px;
  padding: 0;
  text-align: center;
  border-left: 0 none;
}
.channel_hot_dest dd {
  margin-left: -176px;
  padding: 0;
  width: 348px;
}
.channel_hot_dest dt,
.start_city_station dt {
  background: -moz-linear-gradient(#fff, #f5f5f5);
  background: -webkit-linear-gradient(#fff, #f5f5f5);
  background: -o-linear-gradient(#fff, #f5f5f5);
  background: -ms-linear-gradient(#fff, #f5f5f5);
  background: linear-gradient(#fff, #f5f5f5);
}
.city_spread dt,
.dest_spread dt {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.city_spread dt {
  border-bottom: 0;
}
.search_wrap {
  float: right;
  width: 890px;
  position: relative;
  z-index: 4;
}
.search_wrap .new_search_content {
  width: 360px;
  padding-left: 120px;
}
.catalog_list {
  width: 117px;
}
.search_wrap .new_search_notice {
  width: 360px;
}
.search_wrap .new_search_content .search_txt {
  width: 352px;
}
.search_wrap .main_search_txt {
  float: left;
  border: 3px solid #fe9813;
  height: 28px;
  font: 16px/28px microsoft yahei, simsun, sans-serif;
  width: 382px;
  border-radius: 5px 0 0 5px;
  background-color: transparent;
}
.search_wrap .main_search_txt:focus {
  background-color: #f1f9ff;
  border-color: #5d9de5 #67a1e2 #67a1e2 #5d9de5;
  border-style: solid;
  border-width: 3px;
  box-shadow: 1px 1px 3px #d0dee6 inset;
}
.search_wrap .main_search_btn {
  float: left;
  height: 38px;
  width: 128px;
  color: #fff;
  text-align: center;
  background-color: #fb9125;
  -webkit-box-shadow: inset 0 1px 0 0 #fcad5c;
  box-shadow: inset 0 1px 0 0 #fcad5c;
  border: 1px solid #e08821;
  cursor: pointer;
  font: 18px/38px microsoft yahei, simsun, sans-serif;
  margin-left: -3px;
  text-indent: 27px;
  position: relative;
  border-radius: 0 5px 5px 0;
  background-image: -webkit-linear-gradient(top, #fb9125, #fa8721);
  background-image: -moz-linear-gradient(top, #fb9125, #fa8721);
  background-image: -ms-linear-gradient(top, #fb9125, #fa8721);
  background-image: -o-linear-gradient(top, #fb9125, #fa8721);
  background-image: linear-gradient(top, #fb9125, #fa8721);
}
.search_wrap .main_search_btn:hover {
  background-color: #fd7b2b;
  -webkit-box-shadow: inset 0 1px 0 0 #fea161;
  box-shadow: inset 0 1px 0 0 #fea161;
  border: 1px solid #fc6621;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -moz-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -ms-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -o-linear-gradient(top, #fd802c, #fd6f29);
  background-image: linear-gradient(top, #fd802c, #fd6f29);
}
.search_wrap .main_search_btn i {
  position: absolute;
  width: 17px;
  height: 17px;
  background-position: -60px 0;
  left: 27px;
  top: 10px;
  overflow: hidden;
}
.search_wrap .senior_search_btn {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  font-size: 14px;
  color: #ad5b12;
  width: 70px;
}
.search_wrap .senior_search_btn b {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  border-left: 5px dashed transparent;
  border-right: 5px dashed transparent;
  border-top: 5px solid #ad5b12;
  border-bottom: 0 none;
  margin-left: 4px;
}
.search_wrap .senior_search_box {
  position: absolute;
  z-index: 4;
  background-color: #fff;
  border: 2px solid #fe9813;
  padding: 10px 20px;
  width: 565px;
  left: 0;
  top: 0;
}
.search_wrap .senior_search_box h3 {
  font: 16px microsoft yahei, simsun, sans-serif;
  color: #fe9813;
  padding-bottom: 8px;
  border-bottom: 1px solid #eaeaea;
}
.search_wrap .senior_search_box li {
  position: relative;
  padding-top: 10px;
  overflow: hidden;
}
.search_wrap .senior_search_box ul {
  padding-bottom: 10px;
}
.search_wrap .senior_search_box .key_word,
.search_wrap .senior_search_box .time_price {
  width: 260px;
  height: 16px;
  line-height: 16px;
}
.search_wrap .senior_search_box .key_word {
  background-color: transparent;
}
input[type="number"] {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #ddd inset;
  padding: 3px;
  -moz-appearance: textfield;
}
.search_wrap .senior_search_box .time_price {
  width: 66px;
}
.search_wrap .senior_search_box strong {
  float: left;
  width: 64px;
  color: #666;
  height: 24px;
  line-height: 24px;
}
.search_wrap .senior_search_box label {
  float: left;
  height: 24px;
  line-height: 24px;
  padding: 0 3px;
  width: 81px;
  cursor: pointer;
  margin-right: 3px;
}
.search_wrap .senior_search_box label input {
  vertical-align: middle;
  margin-right: 4px;
}
.search_wrap .senior_search_box .unlimited {
  float: left;
  height: 24px;
  line-height: 24px;
  color: #666;
  padding: 0 5px;
}
.search_wrap .senior_search_box .current,
.search_wrap .senior_search_box .unlimited:hover,
.search_wrap .senior_search_box label:hover {
  text-decoration: none;
  background-color: #fe9813;
  color: #fff;
}
.search_wrap .senior_search_box .select_box {
  float: left;
  padding-left: 15px;
  width: 451px;
  line-height: 24px;
}
.search_wrap .senior_search_box .search_btn {
  display: block;
  height: 34px;
  width: 100px;
  color: #fff;
  text-align: center;
  background-color: #fb9125;
  -webkit-box-shadow: inset 0 1px 0 0 #fcad5c;
  box-shadow: inset 0 1px 0 0 #fcad5c;
  border: 1px solid #e08821;
  cursor: pointer;
  font: 16px/34px microsoft yahei, simsun, sans-serif;
  border-radius: 3px;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(top, #fb9125, #fa8721);
  background-image: -moz-linear-gradient(top, #fb9125, #fa8721);
  background-image: -ms-linear-gradient(top, #fb9125, #fa8721);
  background-image: -o-linear-gradient(top, #fb9125, #fa8721);
  background-image: linear-gradient(top, #fb9125, #fa8721);
}
.search_wrap .senior_search_box .search_btn:hover {
  background-color: #fd7b2b;
  -webkit-box-shadow: inset 0 1px 0 0 #fea161;
  box-shadow: inset 0 1px 0 0 #fea161;
  border: 1px solid #fc6621;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -moz-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -ms-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -o-linear-gradient(top, #fd802c, #fd6f29);
  background-image: linear-gradient(top, #fd802c, #fd6f29);
}
.search_wrap .senior_search_box .close {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  color: #b2b2b2;
  top: 5px;
  right: 15px;
}
.search_wrap .senior_search_box .close:hover {
  text-decoration: none;
  color: #fe9813;
}
.search_wrap .visited_link {
  float: left;
  height: 40px;
  line-height: 40px;
  width: 171px;
  overflow: hidden;
}
.search_wrap .visited_link a {
  float: left;
  margin-right: 10px;
  color: #999;
}
.search_input_notice {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 392px;
  height: 40px;
  font: 16px/40px microsoft yahei, simsun;
  text-indent: 1em;
  color: grey;
  background-color: #fff;
  cursor: text;
}
.search_input_key {
  position: absolute;
  z-index: -1;
  top: 13px;
  left: 72px;
  width: 290px;
  height: 24px;
  color: grey;
  background-color: #fff;
  cursor: text;
}
.place_list {
  position: absolute;
  left: 120px;
  width: 358px;
  top: 37px;
  border: 1px solid #aaa;
  background-color: #fff;
  padding: 5px 0;
}
.place_list li a {
  display: block;
  height: 28px;
  overflow: hidden;
  font: 12px/28px microsoft yahei, simsun, sans-serif;
  color: #aaa;
  text-align: right;
  padding: 0 10px;
}
.place_list li span {
  float: left;
  font: 14px/28px microsoft yahei, simsun, sans-serif;
  color: #666;
}
.place_list a:hover {
  background-color: #ecf8fd;
  text-decoration: none;
}
.place_list .place_catalog {
  border-bottom: 1px solid #ddd;
}
.place_list .place_catalog a {
  padding-left: 24px;
}
.place_list a.cur {
  background-color: #ecf8fd;
  text-decoration: none;
}
.hot_search_box {
  position: absolute;
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 10px 20px;
  width: 479px;
  left: 0;
  top: 40px;
}
.hot_search_box h3 {
  font-size: 14px;
  font-weight: 400;
  color: #fc972c;
  padding-top: 10px;
}
.hot_search_box .close {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  color: #b2b2b2;
  top: 5px;
  right: 15px;
}
.hot_search_box .close:hover {
  text-decoration: none;
  color: #fe9813;
}
.index_hotsearch {
  overflow: hidden;
}
.index_hotsearch dt {
  float: left;
  width: 100%;
  font-weight: 700;
  margin-top: 10px;
  color: #666;
  padding: 0 5px;
}
.index_hotsearch dd {
  float: left;
  line-height: 24px;
}
.index_hotsearch a {
  display: inline-block;
  white-space: nowrap;
  color: #666;
  padding: 0 5px;
}
.history_box {
  border-bottom: 1px solid #eaeaea;
  font-size: 12px;
  color: #999;
  padding-bottom: 10px;
}
.history_box a {
  color: #333;
  margin-left: 10px;
  display: inline-block;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.history_box span {
  display: inline-block;
  vertical-align: top;
}
.city_history {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
}
.city_history a {
  display: inline-block;
  padding: 0 10px;
  color: #666;
}
.station_search_list::-webkit-scrollbar {
  width: 8px;
}
.station_search_list::-webkit-scrollbar-thumb {
  background: #ddd;
}
.station_search_list::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
}
.station_search_list {
  margin-top: -1px;
  display: none;
  position: relative;
  z-index: 1;
  max-height: 442px;
  overflow: auto;
  scrollbar-face-color: #ddd;
  scrollbar-highlight-color: #ddd;
  scrollbar-shadow-color: #fff;
  scrollbar-3dlight-color: #fff;
  scrollbar-arrow-color: #fff;
  scrollbar-track-color: #f8f8f8;
  scrollbar-darkshadow-color: #f8f8f8;
  padding-right: 1px;
}
.place_list li span em {
  font-style: normal;
  color: #aaa;
  font-size: 12px;
  margin-left: 10px;
}
@media screen and (max-width: 1200px) {
  .vacation_bd {
    width: 980px;
  }
  .place_list {
    width: 335px;
  }
  .search_wrap {
    width: 695px;
  }
  .search_wrap .new_search_content {
    width: 336px;
  }
  .search_wrap .new_search_notice {
    width: 350px;
  }
  .search_wrap .new_search_content .search_txt {
    width: 342px;
  }
  .search_wrap .visited_link {
    display: none;
  }
  .search_wrap .senior_search_box {
    width: 616px;
  }
  .search_wrap .senior_search_box .select_box {
    width: 502px;
  }
  .search_wrap .senior_search_box label {
    width: 90px;
  }
  .start_city_station dd {
    width: 280px;
  }
  .start_city_station .station_list a {
    margin-right: 4px;
  }
  .start_city_station .hot_station a {
    margin-right: 6px;
  }
  .start_city_station .station_list span {
    margin-right: 14px;
  }
  .channel_hot_destination {
    width: 302px;
  }
  .channel_destination_detail .channel_destination_link a,
  .channel_hot_search .channel_destination_link a {
    margin-right: 8px;
  }
  .channel_hot_jmp {
    left: 308px;
  }
  .channel_hot_dest dt {
    width: 133px;
  }
  .channel_hot_dest dd {
    width: 308px;
  }
  .channel_hot_bd {
    width: 301px;
  }
  .channel_hot_bd .destination_list li {
    padding: 0 8px;
  }
  .channel_hot_bd .destination_list .destination_col {
    padding: 5px 10px 5px 45px;
  }
  .channel_hot_bd .destination_list .destination_col p {
    margin-left: -5px;
  }
  .channel_hot_bd .destination_list .destination_col a {
    margin-left: 5px;
  }
  .channel_hot_bd .side_jmp {
    left: 300px;
  }
}
