.topnav {
  width: 100%;
  height: 36px;
  color: #333;
  background: #f4f4f4;
}
.topnav-left {
  float: left;
}
.topnav-left a,
.topnav-left span {
  line-height: 36px;
  color: #666666;
  margin: 0 10px;
}
.topnav-right {
  float: right;
}
.topnav-right li {
  float: left;
}
.topnav-right .xyjblue {
  color: #00a4ff;
}
.topnav-right a,
.topnav-right span {
  line-height: 36px;
  color: #666666;
  margin: 0 10px;
}

.topnav-right .none {
  display: none;
}
.topnav .tr-blue:hover {
  color: #0066cc;
}
.topnav-right li:nth-child(4):hover span {
  display: block;
}
.topnav-right li:nth-child(4):hover {
  background-color: #ffffff;
}
.topnav-right li:nth-child(5):hover span {
  display: block;
}
.topnav-right li:nth-child(5):hover {
  background-color: #ffffff;
}
.topnav-right li:nth-child(4) {
  position: relative;
  display: inline-block;
  width: 92px;
  color: #666;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: none;
}
.topnav-right li:nth-child(5) {
  position: relative;
  display: inline-block;
  width: 92px;
  color: #666;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: none;
}
/* 搜索栏 */
.search {
  width: 100%;
  height: 80px;
  float: left;
}
.search .logo {
  line-height: 110px;
  float: left;
}
.search .search-button {
  float: left;
}
.search ul {
  float: right;
}
.search .tel-list-more {
  display: none;
}
/* .search.box-phone-number .tel-list-more:hover li {
  display: block;
} */
.search input {
  padding: 0 45px 0 5px;
  float: left;
  width: 340px;
  height: 30px;
}
.search-button {
  position: relative;
}
.search-button button {
  position: absolute;
  right: 0;
  float: left;
  width: 42px;
  height: 30px;
  background-color: #a4cbff;
  border: none;
}
/* 导航栏 */
.navigation {
  width: 100%;
  background-color: #2577e3;
  float: left;
  height: 40px;
}
.navigation-top i {
  color: #0459ad;
  line-height: 40px;
  float: left;
}
.navigation-top a {
  padding: 0 13px;
  line-height: 40px;
  color: #ffffff;
  font-size: 15px;
  float: left;
}
/* 直通车 */
.through-train {
  padding-top: 15px;
  float: left;
  width: 100%;
  height: 30px;
}
.through-train-title {
  margin-right: 20px;
  text-align: center;
  width: 70px;
  margin-top: 2px;
  line-height: 25px;
  background-color: #74a8ed;
  color: #ffffff;
  float: left;
}
.through-train-right {
  float: left;
}
.through-train-right a {
  margin-right: 13px;
  line-height: 30px;
  color: #666666;
}
/* 轮播图 */
.carousel {
  width: 1920px;
  float: left;
  height: 340px;
  background-image: url(../img/carousel-1.jpg);
}

/*  */
* {
  margin: 0;
  padding: 0;
  font-family: "microsoft yahei";
}
.container {
  position: relative;
  margin: 0 auto;
  width: 1180px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  height: 440px;
  overflow: hidden;
}

.price {
  width: 1200px;
  margin: 0 auto;
}

.price h2 {
  font-size: 24px;
  color: #333;
  line-height: 1;
  font-weight: 400;
  padding-bottom: 10px;
  padding-left: 10px;
}

.price .category {
  width: 1180px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 10px;
}

.price .category:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 1px;
  background-color: #ededed;
  z-index: 2;
}

.price .category:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #ededed;
  z-index: 2;
}

.price .category a:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.price .category .prev {
  display: none;
  position: absolute;
  top: 0;
  width: 59px;
  height: 100%;
  box-shadow: 0 0 3px #c6c6c7;
  background: #fff;
  text-align: center;
  font-size: 0;
  left: 0;
  border-right: 1px solid #e1e3e6;
}

.price .category .prev span {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url(../images/arrow.svg);
  background-position: 96.77% 25%;
  background-size: initial;
}

.price .category .next span {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url(../images/arrow.svg);
  background-position: 61.29% 25%;
  background-size: initial;
}

.price .category .next {
  position: absolute;
  top: 0;
  width: 59px;
  height: 100%;
  box-shadow: 0 0 3px #c6c6c7;
  background: #fff;
  text-align: center;
  font-size: 0;
  right: 0;
  border-left: 1px solid #e1e3e6;
}

.price .category ul li {
  display: table-cell;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  position: relative;
  padding: 18px 25px;
}

.price .category ul li.active {
  border-bottom-color: #00a4ff;
  color: #00a4ff;
}

.price .cont {
  display: none;
}

.price .cont.active {
  display: block;
}

.price .cont ul li {
  width: 280px;
  float: left;
  margin: 0 10px;
  box-sizing: border-box;
}

.price .cont ul li:nth-child(4n) {
  margin-right: 0px !important;
}

.price .cont ul li a {
  display: block;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.price .cont ul li a:hover {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
  border-color: rgba(229, 229, 229, 0.73);
}

.price .cont ul li a:hover .cont_main h3.title {
  color: #00a4ff;
}

.price .cont ul li a .cont_main {
  display: table-cell;
  vertical-align: top;
}

.price .cont ul li a .cont_main h3.title {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.price .cont ul li a .cont_main p.desc {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  height: 42px;
  margin-top: -2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.hotspot-left-list {
  float: left;
}
.hotspot-right {
  float: left;
}
.hotspot-left {
  float: left;
  width: 960px;
}
.hotspot-right {
  width: 220px;
}
.cont {
  float: left;
  width: 940px;
}
.cont_main {
  margin: 0 5px;
  margin-bottom: 2px;
  float: left;
}
.cont_main-right {
  width: 240px;
  float: right;
}
.hotspot-left-list-2 img {
  width: 220px;
  height: 123px;
}
.hotspot-left-list-2 {
  width: 220px;
  height: 170px;
}
/* 选项栏 */
.cont_main span {
  color: #666666;
}
.cont_main s {
  color: #f60;
  font-size: 22px;
}
.cont_main .cont-r {
  float: right;
}
.cont_main .cont-c {
  color: #ff4646;
}
.cont-left {
  float: left;
  width: 187px;
  height: 360px;
  padding: 0 20px 15px;
}
.cont-left h4 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 5px;
}
.cont-left .h4-2 {
  font-size: 14px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}
.cont-left a {
  margin: 0 0 0 220px;
  color: #666666;
}
.cont-left a:hover {
  color: #3983e6;
}
.hotspot-left-list img {
  width: 220px;
  height: 160px;
}
.cont-left .h4-3 {
  margin-top: 110px;
}
.cont-left .h4-4 {
  margin-top: 90px;
}
.cont-left .h4-5 {
  margin-top: 80px;
}
.hotspot-left-list-2 .qiangzhi {
  margin-right: 110px;
}
.hotspot-left-list-2 .cont-wz {
  color: #999999;
}
.hotspot-left-list-2 .qiangzhi-2 {
  margin-right: 40px;
}
.hotspot-left-list-2 .qiangzhi-3 {
  margin-right: 10px;
}
.hotspot-left-list-2 .qiangzhi-4 {
  margin-right: 10px;
}
.hotspot-left-list-2 .qiangzhi-5 {
  margin-right: 61px;
}
.hotspot-left-list-2 .qiangzhi-6 {
  margin-right: 38px;
}
.hotspot-left-list-2 .qiangzhi-7 {
  margin-right: 124px;
}
.hotspot-left-list-2 .qiangzhi-8 {
  margin-right: 134px;
}
.hotspot-left-list-2 .qiangzhi-9 {
  margin-right: 52px;
}
.hotspot-left-list-2 .qiangzhi-10 {
  margin-right: 123px;
}
.hotspot-left-list-2 .qiangzhi-11 {
  margin-right: 62px;
}
.jipiao-list {
  float: left;
  width: 215px;
  height: 105px;
  background-color: #f8f8f8;
  margin-right: 20px;
  margin-bottom: 10px;
}
.hotspot-left-list-3 {
  float: left;
  width: 215px;
  height: 105px;
  background-color: #f8f8f8;
  margin-right: 10px;
  margin-bottom: 10px;
}
.jipiao-list-1 {
  display: block;
  margin-top: 13px;
  margin-left: 20px;
  color: #333333;
}
.jipiao-list-2 {
  margin-left: 20px;
  margin-top: 10px;
  color: #999999;
}
.jipiao-list-3 {
  display: block;
  margin-top: 18px;
  margin-left: 20px;
  color: #333333;
}
.jipiao-list-3 s {
  font-size: 22px;
  color: #ff6600;
}
.jipiao-list-4 {
  width: 50px;
  height: 30px;
  margin-top: -25px;
  background-color: #ffb000;
  float: right;
  color: #ffffff;
  font-size: 14px;
  margin-right: 10px;
  line-height: 30px;
  text-align: center;
}
.hotspot-left-list-3 .jipiao-list-4 {
  color: #ffffff;
}

/*  */
.return_li {
  display: inline-block;
  height: 340px;
  width: 1820px;
  position: absolute;
  float: left;
}

.return_ul {
  height: 348px;
  width: 1820px;
  margin: 0 auto;
  position: relative;
}

.return_a {
  display: block;
  height: 340px;
  width: 1820px;
}

.return_button {
  position: absolute;
  height: 20px;
  width: 200px;
  top: 300px;
  left: 1100px;
}

.return_button_li {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-left: 3px;
  background-color: #ffffff;
  border-radius: 50px;
  opacity: 0.5;
}

.return_button_li:hover {
  opacity: 1;
}

.return_left {
  height: 300px;
  width: 600px;
  position: absolute;
  background-color: yellow;
  top: 25px;
  left: 100px;
}

.return_left_left {
  height: 300px;
  width: 100px;
  background-color: #2577e3;
  overflow: hidden;
  float: left;
}

.return_left_ul {
  height: 300px;
  width: 100px;
}

.return_left_li {
  display: block;
  height: 50px;
  cursor: pointer;
  line-height: 50px;
  width: 100px;
  border-bottom: 1px dashed #ffffff;
  text-align: center;
  color: #ffffff;
}

.return_left_li:hover {
  background-color: #ffffff;
  color: #0a56bb;
  border-left: 3px solid orange;
}

.li_hover {
  display: block;
  height: 50px;
  cursor: pointer;
  line-height: 50px;
  width: 100px;
  text-align: center;
  background-color: #fff;
  color: #0a56bb;
  border-left: 3px solid orange;
}

.return_left_right {
  height: 300px;
  width: 500px;
  background-color: #fff;
  float: left;
  overflow: hidden;
}

.return_left_right_li {
  display: block;
  height: 300px;
  width: 500px;
  background-color: #fff;
}

.id_li1 {
  display: inline-block;
  height: 50px;
  text-align: center;

  line-height: 50px;
  margin-left: 10px;
}

#ul1 {
  height: 50px;
  width: 500px;
  border-bottom: 2px solid #c4c4c4;
}

#ul1_1 {
  margin-top: 2px;
  height: 245px;
  width: 500px;
}

.mudidi {
  line-height: 30px;
  margin-left: 10px;
  height: 30px;
  width: 480px;
}

.ruzhushijian,
.jibie,
.fangjian {
  height: 30px;
  width: 480px;
  margin-left: 10px;
  margin-top: 10px;
  line-height: 30px;
}

#text0 {
  width: 360px;
  height: 22px;
  border: 1px solid blue;
  margin-left: 22px;
}

#text1,
#text2 {
  height: 20px;
  width: 150px;
}

.text1 {
  height: 20px;
  width: 150px;
  margin-left: 32px;
}

.text2 {
  height: 20px;
  width: 150px;
  margin-left: 16px;
}

.text3 {
  height: 20px;
  width: 150px;
}

.text4 {
  height: 20px;
  width: 150px;
  margin-left: 16px;
}

.btn {
  height: 30px;
  width: 130px;
  background-color: #ffb000;
  margin-left: 330px;
  margin-top: 40px;
  text-align: center;
  line-height: 30px;
  border-radius: 5%;
  cursor: pointer;
}

.btn > p {
  color: #ffffff;
}

.foot_1,
.foot_2,
.foot_3,
.foot_4,
.foot_5 {
  height: 150px;
  width: 230px;
  /*background-color: pink;*/
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  border-right: 1px dashed #dedede;
  overflow: hidden;
}

.p {
  margin-top: 5px;
  margin-left: 40px;
  font-size: 14px;
  color: #666666;
}

.foot_one,
.foot_five {
  margin-top: 20px;
  margin-left: 20px;
  height: 100px;
  width: 200px;
}

.foot_five {
  border: 2px solid #dedede;
  margin-top: 10px;
  margin-left: 30px;
  height: 145px;
  width: 125px;
}

.foot_foot {
  height: 130px;
  width: 1360px;
  margin-top: 10px;
  margin-left: 100px;
}
