/*  顶部导航 */
.topnav {
  width: 100%;
  height: 36px;
  background-color: #f4f4f4;
}
.topnav-left li {
  color: #666666;
  line-height: 36px;
  float: left;
  margin: 0 10px;
}
.topnav-right {
  float: right;
}
.topnav-right a {
  position: relative;
  float: left;
  color: #666666;
  line-height: 36px;
  margin: 0 10px;
}
.topnav-right a:nth-child(2):hover,
.topnav-right a:nth-child(6):hover {
  color: #0066cc;
}
.topnav-right .lan i {
  color: #0066cc;
}
.topnav-right img {
  display: none;
  position: absolute;
  top: 36px;
  left: -112px;
}
.topnav-right a:hover img {
  display: block;
}

.san {
  font-size: 2px;
}
