@charset "utf-8";
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff;
}
body {
  background-color: #fff;
  font-size: 12px;
  line-height: 1.5;
  font-family: Tahoma, Simsun, sans-serif;
  color: #333;
}
fieldset,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
input,
textarea {
  font-size: 12px;
}
table {
  border-collapse: collapse;
}
a {
  color: #0065bb;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Simsun, sans-serif;
}
ol li,
ul li {
  list-style: none;
}
dfn {
  font-style: normal;
  font-size: 12px;
  font-family: Arial !important;
}
select {
  padding: 1px;
  font-family: Arial, Simsun, sans-serif;
  border: 1px solid #ccc;
  background-color: #fff;
}
input[type="number"],
input[type="text"] {
  padding: 3px;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 3px #ddd inset;
}
input[type="number"]:focus,
input[type="text"]:focus {
  background-color: #f1f9ff;
  border-color: #5d9de5 #67a1e2 #67a1e2 #5d9de5;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px #d0dee6 inset;
}
.basefix:after,
.layoutfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.float_left {
  float: left !important;
}
.float_right {
  float: right !important;
}
.invisible {
  visibility: hidden !important;
}
.hidden {
  display: none !important;
}
.border_none {
  border: 0 none !important;
}
.base_price {
  font-style: normal;
  font-family: arial;
  text-decoration: none;
}
.base_price dfn {
  font-family: Arial, Simsun;
  font-size: 12px;
}
.base_price strong {
  font-family: Verdana;
}
.input_error {
  background-color: #fff7d9 !important;
  border-color: #d80000 #e50000 #e50000 #d80000 !important;
  border-style: solid;
}
.input_default {
  color: grey !important;
}
.inputSel {
  color: grey;
}
.base_label {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.base_label:hover {
  border-bottom: 1px dashed #aaa;
}
.base_label input {
  margin: -4px 3px 0 0;
  width: 12px;
  height: 12px;
  overflow: hidden;
  border: none;
  font-family: Arial;
  vertical-align: middle;
}
.c_alert {
  padding-left: 7px;
  background: url(../../../../../../../common/bg_alertinfo.gif) no-repeat 0 -8px;
  overflow: hidden;
}
.c_alertinfo {
  padding: 4px 5px 4px 8px;
  border: 1px solid #ffb533;
  border-left: 0;
  color: #333;
  font-size: 12px;
  line-height: 20px;
  background-color: #fff5d1;
}
.bottom_advantage_wrap {
  background-color: #3d95c9;
  height: 80px;
  padding: 30px 0;
  min-width: 1000px;
}
.bottom_advantage {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
.bottom_advantage dl {
  padding-left: 80px;
  float: left;
  height: 80px;
  border-right: 1px dotted #77b5d9;
  float: left;
  overflow: hidden;
  position: relative;
}
.bottom_advantage dt {
  color: #fff;
  font: 16px microsoft yahei;
  width: 100%;
  float: left;
  padding-bottom: 3px;
}
.bottom_advantage dt i {
  position: absolute;
  background-color: #3d95c9;
}
.bottom_advantage dd {
  float: left;
  width: 115px;
}
.bottom_advantage dd a {
  color: #fff;
}
.bottom_advantage .special_instruct {
  width: 100%;
  padding-top: 2px;
  color: #9ac7e2;
}
.bottom_advantage .security {
  width: 366px;
}
.bottom_advantage .guide dt i,
.bottom_advantage .help dt i,
.bottom_advantage .security dt i {
  background: url(../../../../../../../vacation_v1/un_base_common.png) no-repeat;
}
.bottom_advantage .security dt i {
  width: 39px;
  height: 42px;
  background-position: 0 -185px;
  left: 25px;
}
.bottom_advantage .help {
  width: 230px;
}
.bottom_advantage .help dt i {
  width: 47px;
  height: 42px;
  background-position: -40px -185px;
  left: 19px;
  top: 4px;
}
.bottom_advantage .guide {
  width: 142px;
  border: 0 none;
}
.bottom_advantage .guide dt i {
  width: 44px;
  height: 39px;
  background-position: -88px -185px;
  left: 22px;
  top: 4px;
}
.tri {
  position: relative;
  height: 22px;
  padding-left: 11px;
  margin-left: -11px;
  background: url(../../../../../../../vacation_v1/bg_process_step02.png)
    no-repeat left -88px;
}
.con {
  height: 22px;
  padding-right: 11px;
  line-height: 22px;
  text-align: center;
  color: #b9b9b9;
  background: url(../../../../../../../vacation_v1/bg_process_step02.png)
    repeat-x 0 -44px;
}
.step1,
.step2,
.step3,
.step4,
.step5,
.step6,
.step7 {
  width: 978px;
  margin: 10px auto;
  border: 1px solid #ccc;
}
.step_table {
  table-layout: fixed;
  width: 100%;
}
.step1 .first .con,
.step2 .second .con,
.step3 .third .con,
.step4 .fourth .con,
.step5 .fif th .con,
.step6 .sixth .con,
.step7 .seventh .con {
  background-position: 0 0;
  font-weight: 700;
  color: #fff;
}
.step1 .first .tri,
.step2 .second .tri,
.step3 .third .tri,
.step4 .fourth .tri,
.step5 .fifth .tri,
.step6 .sixth .tri,
.step7 .seventh .tri {
  background-position: left -66px;
}
.step2 .first .con,
.step3 .first .con,
.step3 .second .con,
.step4 .first .con,
.step4 .second .con,
.step4 .third .con,
.step5 .first .con,
.step5 .fourth .con,
.step5 .second .con,
.step5 .third .con,
.step6 .fifth .con,
.step6 .first .con,
.step6 .fourth .con,
.step6 .second .con,
.step6 .third .con,
.step7 .fifth .con,
.step7 .first .con,
.step7 .fourth .con,
.step7 .second .con,
.step7 .sixth .con,
.step7 .third .con {
  background-position: left -22px;
  color: #333;
}
.step2 .first .tri,
.step3 .first .tri,
.step3 .second .tri,
.step4 .first .tri,
.step4 .second .tri,
.step4 .third .tri,
.step5 .first .tri,
.step5 .fourth .tri,
.step5 .second .tri,
.step5 .third .tri,
.step6 .fifth .tri,
.step6 .first .tri,
.step6 .fourth .tri,
.step6 .second .tri,
.step6 .third .tri,
.step7 .fifth .tri,
.step7 .first .tri,
.step7 .fourth .tri,
.step7 .second .tri,
.step7 .sixth .tri,
.step7 .third .tri {
  background-position: left -110px;
}
.search_sort .float_right {
  margin: 12px 10px 0 0;
  color: grey;
}
.btn_hotels_search {
  width: 50px;
  height: 22px;
  background: url(../../../../../../../packages111012/un_detail_btn.png)
    no-repeat -160px -44px;
  border: none;
  cursor: pointer;
}
.c_page2_next,
.c_page2_next_dis,
.c_page2_pre,
.c_page2_pre_dis {
  height: 18px;
  float: left;
  background: url(../../../../../../../vacation_v1/un_base_common.png) no-repeat;
  background-color: #fff;
  color: grey;
}
.c_page2_pre,
.c_page2_pre_dis {
  width: 18px;
  background-position: -14px 5px;
  text-indent: -999em;
  overflow: hidden;
}
.c_page2_next,
.c_page2_next_dis {
  padding-left: 3px;
  background-position: 50px 5px;
  width: 57px;
  text-align: left;
}
.c_page2_next,
.c_page2_pre {
  border: 1px solid #ccc;
}
.c_page2_next:hover,
.c_page2_pre:hover {
  color: #666;
  text-decoration: none;
  border: 1px solid grey;
}
.c_page2_pre:hover {
  background-position: -14px -22px;
}
.c_page2_next:hover {
  background-position: 50px -22px;
}
.c_page2_pre,
.c_page2_pre:hover,
.c_page2_pre_dis {
  margin-right: 1px;
}
.c_page2_next_dis,
.c_page2_pre_dis {
  color: #e6e6e6;
  cursor: default;
  border: 1px solid #f1f1f1;
}
.c_page2_next_dis:hover,
.c_page2_pre_dis:hover {
  text-decoration: none;
  color: #e6e6e6;
  border: 1px solid #f1f1f1;
}
.c_page2_pre_dis {
  background-position: -14px -49px;
}
.c_page2_next_dis {
  background-position: 50px -49px;
}
.c_page2_numtop {
  float: left;
  margin: 2px 5px 0 0;
}
.sr_page {
  padding: 0 10px;
}
.c_page {
  height: 26px;
  padding: 10px 0;
  color: #666;
  font: 12px/2 Arial;
}
.c_page a {
  border-radius: 2px;
}
.c_down,
.c_down_nocurrent,
.c_page_list,
.c_pagevalue,
.c_up,
.c_up_nocurrent {
  display: inline-block;
  vertical-align: middle;
}
.c_down,
.c_down_nocurrent,
.c_up,
.c_up_nocurrent {
  background-image: url(../../../../../../../common/un_vacation_page.png);
}
.c_down,
.c_down_nocurrent,
.c_up,
.c_up_nocurrent {
  width: 25px;
  height: 0;
  overflow: hidden;
  padding: 23px 0 0;
  border: 0;
  background-position: 0 -50px;
}
.c_up {
  margin-right: 10px;
  border: solid 1px #ccc;
  background-position: -105px 0;
}
.c_up:hover {
  background-color: #bcddf9;
  background-position: -105px -25px;
  text-decoration: none;
}
.c_down {
  width: 70px;
  margin-left: 1px;
  border: solid 1px #ccc;
  background-position: -41px 0;
}
.c_down:hover {
  background-color: #bcddf9;
  background-position: -41px -25px;
}
.c_page_list {
  margin-right: 10px;
}
.c_page_list .c_page_ellipsis,
.c_page_list a {
  float: left;
}
.c_page_list a,
.c_page_submit {
  height: 23px;
  margin: 0 1px;
  padding: 0 8px;
  border: solid 1px #bfbdbd;
  background-color: #fafafa;
  font-weight: 700;
  color: #666;
  text-decoration: none;
  overflow: hidden;
}
.c_page_list a:hover,
.c_page_submit:hover {
  background-color: #bcddf9;
  color: #fff;
  text-decoration: none;
  border-color: #9fbdd7;
}
.c_page_list .c_page_ellipsis {
  margin: 0 3px;
}
.c_page_list .current,
.c_page_list .current:hover {
  background-color: #77bcf7;
  cursor: default;
  border-color: #5295c5;
  color: #fff;
}
.c_up_nocurrent,
.c_up_nocurrent:hover {
  margin-right: 10px;
  border: solid 1px #ccc;
  background-position: -106px -50px;
  color: #666;
  cursor: default;
}
.c_down_nocurrent,
.c_down_nocurrent:hover {
  width: 70px;
  border: solid 1px #ccc;
  background-position: -41px -50px;
  cursor: default;
}
.c_pagevalue {
  margin-left: 20px;
}
.c_pagevalue .c_page_num {
  box-sizing: content-box;
  width: 25px;
  height: 14px;
  padding: 3px;
  border: 1px solid #ccc;
  margin: 0 4px;
}
.c_page_submit {
  width: 40px;
  margin-left: 10px;
  font-weight: 400;
  cursor: pointer;
  line-height: 22px;
}
.advance_box .close,
.advance_box .search,
.destination_box .eurail_detail .eurail_search,
.destination_detail .cruise_detail dt,
.destination_detail .local_detail dt,
.destination_detail dt .arrow,
.destination_detail h3 .more,
.destination_detail h4,
.destination_select h2,
.destination_select h2 i,
.hot_destination h2.current,
.hot_destination h2.current i,
.month_destination h4 .more,
.more i,
.right_unfold .close,
.search_box .advance_search,
.search_box .input_notice,
.search_box .search_btn,
.search_box_wrap,
.start_city h2,
.start_city h2 i,
.to_top,
.vacation_nav,
.visa_btn input {
  background-image: url(../../../../../../../vacation_v1/un_channel.png);
  background-repeat: no-repeat;
}
.crumbs {
  color: #999;
  font-family: verdana, simsun;
}
.to_top {
  position: fixed;
  height: 0;
  width: 30px;
  right: 0;
  bottom: 5%;
  overflow: hidden;
  padding-top: 30px;
  background-position: -252px -115px;
  z-index: 50;
  overflow: hidden;
}
.to_top:hover {
  background-position: -222px -115px;
}
.bottom_linkbox dt .web_map {
  float: right;
  font-weight: 400;
  margin: 0;
}
.bottom_linkbox dt .web_map:hover {
  border: 0 none;
  color: #0082c6;
  text-decoration: underline;
}
.bottom_linkbox dt {
  margin: 0 10px;
  border-bottom: 1px solid #e7e7e7;
}
.bottom_linkbox dt a {
  margin-right: 20px;
  line-height: 30px;
  cursor: pointer;
  display: block;
  color: #999;
  font-weight: 700;
  height: 30px;
  float: left;
  position: relative;
  margin-bottom: -1px;
}
.bottom_linkbox dt .current {
  border-bottom: 1px solid #0082c6;
}
.bottom_linkbox dt a:hover {
  border-bottom: 1px solid #0082c6;
  text-decoration: none;
}
.bottom_linkbox dd {
  padding: 5px 10px;
  line-height: 18px;
}
.bottom_linkbox dd a {
  color: #999;
  margin-right: 8px;
  display: inline-block;
}
.bottom_linkbox dd a:hover {
  color: #0082c6;
}
.bottom_linkbox .hidden {
  display: none;
}
.bottom_linkbox .bold {
  font-weight: 700;
  color: #999;
  margin-right: 15px;
}
.seo_box {
  margin: 10px auto;
  width: 980px;
  border: 1px solid #eaeaea;
}
.seo_box p a {
  color: #999;
}
.seo_box p a:hover {
  color: #0082c6;
}
.bottom_linkModule dt .web_map {
  float: right;
  font-weight: 400;
  margin: 0;
}
.bottom_linkModule dt .web_map:hover {
  border: 0 none;
  color: #0082c6;
  text-decoration: underline;
}
.bottom_linkModule dt {
  margin: 0 20px;
  line-height: 24px;
  border-bottom: 1px solid #e7e7e7;
}
.bottom_linkModule dt span {
  font-weight: 700;
  color: #999;
}
.bottom_linkModule dt a {
  color: #999;
}
.bottom_linkModule dd {
  padding: 5px 20px;
  line-height: 18px;
}
.bottom_linkModule dd a {
  color: #999;
  margin-right: 8px;
  display: inline-block;
}
.bottom_linkModule dd a:hover {
  color: #0082c6;
}
.bottom_linkModule .hidden {
  display: none;
}
.bottom_linkModule .bold {
  font-weight: 700;
  color: #999;
  margin-right: 15px;
}
.seo_box {
  margin: 10px auto;
  width: 980px;
  border: 1px solid #eaeaea;
  padding: 15px 0 10px;
}
.seo_box p {
  color: #999;
  padding: 0 20px 5px;
}
.ad_bottom {
  width: 980px;
  margin: 0 auto 20px;
  font-size: 0;
  height: 86px;
  overflow: hidden;
  white-space: nowrap;
}
.ad_bottom a {
  display: inline-block;
  width: 311px;
  height: 86px;
  margin-right: 23px;
  overflow: hidden;
}
.ad_bottom a img {
  width: 311px;
  height: 86px;
}
.base_alert {
  position: absolute;
  z-index: 999;
}
.base_alert .alert_info {
  background-color: #fff5d1;
  border: 1px solid #ffb533;
  padding: 3px;
}
.base_alert b,
.base_alert i {
  position: absolute;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
  border-left: 0 none;
  top: 8px;
}
.base_alert b {
  border-right: 5px solid #ffb533;
  border-top: 5px dashed transparent;
  border-bottom: 5px dashed transparent;
  left: -5px;
}
.base_alert i {
  border-right: 5px solid #fff5d1;
  border-top: 5px dashed transparent;
  border-bottom: 5px dashed transparent;
  left: -4px;
}
.pkg_page {
  height: 26px;
  padding: 10px 0;
}
.pkg_page a {
  float: left;
  width: 24px;
  padding: 3px 0 3px 0;
  text-align: center;
  color: #0065bb;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-right: 3px;
}
.pkg_page a:hover {
  text-decoration: none;
  color: #0065bb;
  border: 1px solid #3da0e7;
}
.pkg_page .current,
.pkg_page .current:hover {
  color: #fff;
  border: 1px solid #3da0e7;
  background-color: #64bbfa;
  font-weight: 700;
}
.pkg_page_ellipsis {
  float: left;
  margin: 0 6px 0 3px;
}
.pkg_page .up {
  margin-right: 10px;
}
.pkg_page .down {
  margin-left: 10px;
  width: 62px;
}
.pkg_page .down b,
.pkg_page .up b {
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  vertical-align: -2px;
}
.pkg_page .up b {
  border-width: 6px 6px 6px 0;
  border-style: dashed solid dashed dashed;
  border-color: transparent #0065bb transparent transparent;
  margin-left: -2px;
}
.pkg_page .down b {
  border-width: 6px 0 6px 6px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #0065bb;
  margin-left: 6px;
}
.pkg_page .down_nocurrent,
.pkg_page .down_nocurrent:hover,
.pkg_page .up_nocurrent,
.pkg_page .up_nocurrent:hover {
  cursor: default;
  border: 1px solid #ccc;
  color: #ccc;
}
.pkg_page .up_nocurrent b,
.pkg_page .up_nocurrent:hover b {
  border-color: transparent #ccc transparent transparent;
}
.pkg_page .down_nocurrent b,
.pkg_page .down_nocurrent:hover b {
  border-color: transparent transparent transparent #ccc;
}
.pkg_pagevalue {
  float: left;
  margin-left: 20px;
  height: 26px;
  line-height: 26px;
}
.pkg_pagevalue .pkg_page_num {
  width: 25px;
  height: 14px;
  padding: 3px;
  border: 1px solid #ccc;
  margin: 0 4px;
}
.pkg_page_submit {
  width: 40px;
  margin-left: 10px;
  font-weight: 400;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.pkg_page_submit:hover {
  border: 1px solid #3da0e7;
}
.progress_bar {
  width: 100%;
  padding: 30px 0 10px;
}
.progress_bar:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.progress_bar li {
  float: left;
  width: 25%;
  border-top: 6px solid #d7d7d7;
  text-align: center;
  color: #999;
  position: relative;
  line-height: 42px;
}
.progress_bar li i {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -13px;
  height: 20px;
  width: 20px;
  background: url(../../../../../../../vacation_v1/un_base_common.png) -64px 0 no-repeat;
}
.progress_bar .complete {
  color: #ff9813;
  border-top: 6px solid #ff9813;
}
.progress_bar .complete i {
  background-position: -36px 0;
}
input.btn_big_disabled,
input.btn_blue_big,
input.btn_blue_middle,
input.btn_blue_small,
input.btn_middle_disabled,
input.btn_normal,
input.btn_normal_disabled,
input.btn_proess_big,
input.btn_proess_big:hover,
input.btn_proess_big_disabled,
input.btn_proess_big_disabled:hover,
input.btn_red_big,
input.btn_red_middle,
input.btn_red_small,
input.btn_small_disabled {
  line-height: normal;
}
.btn_red_big,
.btn_red_middle,
.btn_red_small {
  display: inline-block;
  background-color: #fb9125;
  background-image: -webkit-linear-gradient(top, #fb9125, #fa8721);
  background-image: -moz-linear-gradient(top, #fb9125, #fa8721);
  background-image: -ms-linear-gradient(top, #fb9125, #fa8721);
  background-image: -o-linear-gradient(top, #fb9125, #fa8721);
  background-image: linear-gradient(top, #fb9125, #fa8721);
  color: #fff;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #e08821;
  -webkit-box-shadow: inset 0 1px 0 0 #fcad5c;
  box-shadow: inset 0 1px 0 0 #fcad5c;
}
.btn_red_big:hover,
.btn_red_middle:hover,
.btn_red_small:hover {
  background-color: #fd7b2b;
  background-image: -webkit-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -moz-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -ms-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -o-linear-gradient(top, #fd802c, #fd6f29);
  background-image: linear-gradient(top, #fd802c, #fd6f29);
  border: 1px solid #fc6621;
  -webkit-box-shadow: inset 0 1px 0 0 #fea161;
  box-shadow: inset 0 1px 0 0 #fea161;
  cursor: pointer;
  text-decoration: none;
}
.btn_blue_big,
.btn_blue_middle,
.btn_blue_small {
  display: inline-block;
  background-color: #39a7ee;
  background-image: -webkit-linear-gradient(top, #40a8eb, #3ba0e6);
  background-image: -moz-linear-gradient(top, #40a8eb, #3ba0e6);
  background-image: -ms-linear-gradient(top, #40a8eb, #3ba0e6);
  background-image: -o-linear-gradient(top, #40a8eb, #3ba0e6);
  background-image: linear-gradient(top, #40a8eb, #3ba0e6);
  color: #fff;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #2a93d5;
  -webkit-box-shadow: inset 0 1px 0 0 #70bef0;
  box-shadow: inset 0 1px 0 0 #70bef0;
}
.btn_blue_big:hover,
.btn_blue_middle:hover,
.btn_blue_small:hover {
  background-color: #1d8fd9;
  background-image: -webkit-linear-gradient(top, #2790d6, #2388ce);
  background-image: -moz-linear-gradient(top, #2790d6, #2388ce);
  background-image: -ms-linear-gradient(top, #2790d6, #2388ce);
  background-image: -o-linear-gradient(top, #2790d6, #2388ce);
  background-image: linear-gradient(top, #2790d6, #2388ce);
  border: 1px solid #2183c3;
  -webkit-box-shadow: inset 0 1px 0 0 #5dace0;
  box-shadow: inset 0 1px 0 0 #5dace0;
  cursor: pointer;
  text-decoration: none;
}
.btn_big_disabled,
.btn_big_disabled:hover,
.btn_middle_disabled,
.btn_middle_disabled:hover,
.btn_small_disabled,
.btn_small_disabled:hover {
  display: inline-block;
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(top, #e9e9e9, #e6e6e6);
  background-image: -moz-linear-gradient(top, #e9e9e9, #e6e6e6);
  background-image: -ms-linear-gradient(top, #e9e9e9, #e6e6e6);
  background-image: -o-linear-gradient(top, #e9e9e9, #e6e6e6);
  background-image: linear-gradient(top, #e9e9e9, #e6e6e6);
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #efefef;
  box-shadow: inset 0 1px 0 0 #efefef;
  color: #aaa;
  text-align: center;
  cursor: default;
  text-decoration: none;
  text-shadow: 1px 1px #fff;
}
.btn_big_disabled,
.btn_blue_big,
.btn_red_big {
  height: 40px;
  padding: 0 40px;
  font: 18px/40px "microsoft yahei", simsun, sans-serif;
}
.btn_blue_middle,
.btn_middle_disabled,
.btn_red_middle {
  height: 34px;
  padding: 0 18px;
  font: 16px/34px "microsoft yahei", simsun, sans-serif;
}
.btn_blue_small,
.btn_red_small,
.btn_small_disabled {
  height: 22px;
  padding: 0 14px;
  font: 12px/22px "microsoft yahei", simsun, sans-serif;
}
.btn_proess_big,
.btn_proess_big:hover,
.btn_proess_big_disabled,
.btn_proess_big_disabled:hover {
  height: 56px;
  padding: 0 10px;
  font: 20px/56px "microsoft yahei", simsun, sans-serif;
}
.btn_proess_big {
  display: inline-block;
  background-color: #fb9125;
  background-image: -webkit-linear-gradient(top, #fb9125, #fa8721);
  background-image: -moz-linear-gradient(top, #fb9125, #fa8721);
  background-image: -ms-linear-gradient(top, #fb9125, #fa8721);
  background-image: -o-linear-gradient(top, #fb9125, #fa8721);
  background-image: linear-gradient(top, #fb9125, #fa8721);
  color: #fff;
  text-align: center;
  border: 1px solid #e08821;
  -webkit-box-shadow: inset 0 1px 0 0 #fcad5c;
  box-shadow: inset 0 1px 0 0 #fcad5c;
}
.btn_proess_big:hover {
  background-color: #fd7b2b;
  background-image: -webkit-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -moz-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -ms-linear-gradient(top, #fd802c, #fd6f29);
  background-image: -o-linear-gradient(top, #fd802c, #fd6f29);
  background-image: linear-gradient(top, #fd802c, #fd6f29);
  border: 1px solid #fc6621;
  -webkit-box-shadow: inset 0 1px 0 0 #fea161;
  box-shadow: inset 0 1px 0 0 #fea161;
  cursor: pointer;
  text-decoration: none;
}
.btn_proess_big_disabled,
.btn_proess_big_disabled:hover {
  display: inline-block;
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(top, #e9e9e9, #e6e6e6);
  background-image: -moz-linear-gradient(top, #e9e9e9, #e6e6e6);
  background-image: -ms-linear-gradient(top, #e9e9e9, #e6e6e6);
  background-image: -o-linear-gradient(top, #e9e9e9, #e6e6e6);
  background-image: linear-gradient(top, #e9e9e9, #e6e6e6);
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: inset 0 1px 0 0 #efefef;
  box-shadow: inset 0 1px 0 0 #efefef;
  color: #aaa;
  text-align: center;
  cursor: default;
  text-decoration: none;
  text-shadow: 1px 1px #fff;
}
.btn_normal,
.btn_normal_disabled {
  display: inline-block;
  height: 24px;
  padding: 0 10px;
  font: 12px/24px simsun, sans-serif;
  border-radius: 2px;
  text-align: center;
}
.btn_normal {
  color: #fff;
  color: #333;
  border: 1px solid #bbb;
  background-color: #f8f8f8;
  cursor: pointer;
}
.btn_normal:hover {
  color: #0065bb;
  text-decoration: none;
}
.btn_normal_disabled,
.btn_normal_disabled:hover {
  color: #aaa;
  border: 1px solid #d6d6d6;
  background-color: #e7e7e7;
  text-decoration: none;
  text-shadow: 1px 1px #fff;
}
.function_label {
  position: fixed;
  top: 50%;
  right: 0;
  text-align: right;
  z-index: 99;
}
.function_label .disable .label_list_coentent {
  display: none;
}
.label_list1,
.label_list1:hover,
.label_list2,
.label_list2:hover,
.label_list3,
.label_list3:hover,
.label_list4,
.label_list4:hover,
.label_route,
.label_route:hover {
  position: relative;
  width: 45px;
  height: 45px;
  background-image: url(../../../../../../../vacation_v1/un_base_common.png);
  background-repeat: no-repeat;
  margin-bottom: 2px;
}
.label_list1 {
  background-position: 0 -70px;
  height: 55px;
}
.label_list2 {
  background-position: -48px -80px;
}
.label_list3 {
  background-position: -96px -80px;
}
.label_list4 {
  background-position: -144px -80px;
}
.label_route {
  background-position: -96px -13px;
  height: 64px;
  margin-bottom: 26px;
}
.label_route:hover {
  margin-bottom: 26px;
}
.label_list1:hover,
.label_list2:hover,
.label_list3:hover,
.label_list4:hover,
.label_route {
  cursor: pointer;
}
.label_list1:hover {
  background-position: 0 -127px;
  height: 55px;
}
.function_label .current,
.label_list2:hover {
  background-position: -48px -137px;
}
.label_list3:hover {
  background-position: -96px -137px;
}
.label_list4:hover {
  background-position: -144px -137px;
}
.label_route:hover {
  background-position: -144px -13px;
  height: 64px;
}
.label_list_coentent {
  position: absolute;
  z-index: 999;
  left: -173px;
  background-color: #ffae00;
  padding: 8px 0 7px 10px;
  border-radius: 3px 0 0 3px;
}
.label_hh,
.label_rr,
.label_xl,
.label_xx,
.label_yj {
  float: left;
  width: 30px;
  height: 30px;
  background-image: url(../../../../../../../vacation_v1/bg_function_icon.png);
  background-repeat: no-repeat;
  margin-right: 3px;
}
.label_xl {
  background-position: 0 0;
}
.label_hh {
  background-position: -31px 0;
}
.label_rr {
  background-position: -62px 0;
}
.label_xx {
  background-position: -93px 0;
}
.label_yj {
  background-position: -124px 0;
}
.base_masking {
  background-color: #fff;
  border: 1px solid #b1daf5;
}
.base_masking h2 {
  font-size: 14px;
  background: url(../../../../../../../vacation_v1/un_base_common.png) 0 -230px repeat-x;
  height: 35px;
  line-height: 35px;
  color: #fff;
  padding: 0 10px 0 18px;
}
.base_masking h2 a {
  float: right;
  width: 14px;
  height: 14px;
  background: url(../../../../../../../vacation_v1/un_base_common.png) -36px -24px
    no-repeat;
  margin-top: 8px;
}
.base_masking h2 a:hover {
  background-position: -36px -42px;
  text-decoration: none;
}
.masking_padding {
  padding: 15px;
}
.bottom_seo2 a {
  color: #999;
}
.bottom_seo2 dd a,
.bottom_seo2 dd span {
  display: inline-block;
  margin-right: 6px;
}
.bottom_seo2 dd span,
.bottom_seo2 dd strong {
  color: #999;
  font-weight: 700;
}
.bottom_seo2 {
  padding-bottom: 20px;
  padding: 10px;
  border: 1px solid #eaeaea;
  margin: 20px auto;
}
.line_cus_pop {
  position: relative;
  width: 43px;
  height: 0;
}
.line_cus_pop .cus_ser_con {
  padding: 54px 20px 0 10px;
  text-align: left;
  width: 134px;
  height: 80px;
  background: url(../../../../../../../vacation_v1/line_cus.png);
  top: -107px;
  right: 45px;
  position: absolute;
}
.line_cus_pop .cus_ser_con a {
  background: #69bcfb;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  margin: 0 2px;
  border-radius: 10px;
  padding: 0 8px;
  color: #fff;
}
.line_cus_pop .cus_ser_con a:hover {
  text-decoration: none;
}
.line_cus_pop .click_line_cus {
  font-size: 14px;
}
.line_cus_pop .closed_cus {
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
  top: 54px;
  right: 20px;
  background: url(about:blank);
}
.line_cus_pop p {
  padding-top: 5px;
}
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.function_btn i,
.function_collect_pop .close,
.function_collect_pop .error i,
.function_sub_list i {
  background-image: url(../../../../../../../vacation_v2/un_function.png);
  background-repeat: no-repeat;
}
.function_btn .function_print {
  background-image: url(../../../../../../../VacationOnlinePic/vacation_v2/detail/un_function.png);
  background-repeat: no-repeat;
}
.side_function {
  position: fixed;
  bottom: 25%;
  right: 0;
  z-index: 99;
}
.side_function li {
  zoom: 1;
  position: relative;
  margin-top: -1px;
  width: 61px;
  height: 62px;
  vertical-align: top;
}
.function_btn {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid #e1e1e1;
  border-right: 0;
  background: #fff;
  color: #999;
  display: block;
  cursor: pointer;
}
.function_btn:hover,
.function_btn_hover {
  background: #69bcfb;
  color: #fff;
  text-decoration: none;
  zoom: 1;
  border-color: #69bcfb;
}
.function_btn_color:hover {
  background: #ffb346;
  border-color: #ffb346;
}
.function_btn:hover em {
  display: none;
}
.function_btn:hover span {
  display: inline;
}
.function_btn span {
  display: none;
}
.function_btn em {
  font-style: normal;
}
.function_btn i {
  width: 32px;
  height: 32px;
  display: block;
  margin: 6px auto 2px;
}
.function_btn:hover .function_join {
  background-position: 0 -32px;
}
.function_btn .function_cancel {
  background-position: -32px 0;
}
.function_btn:hover .function_cancel {
  background-position: -32px -32px;
}
.function_btn .function_multiplayer {
  background-position: -64px 0;
}
.function_btn:hover .function_multiplayer {
  background-position: -64px -32px;
}
.function_btn .function_collect {
  background-position: -96px 0;
}
.function_btn:hover .function_collect {
  background-position: -96px -32px;
}
.function_btn .function_delete {
  background-position: -128px 0;
}
.function_btn:hover .function_delete {
  background-position: -128px -32px;
}
.function_btn .function_share {
  background-position: 0 -64px;
}
.function_btn:hover .function_share,
.function_btn_hover .function_share {
  background-position: 0 -96px;
}
.function_btn .function_service {
  background-position: -32px -64px;
}
.function_btn:hover .function_service {
  background-position: -32px -96px;
}
.function_btn .function_feedback {
  background-position: -64px -64px;
}
.function_btn:hover .function_feedback {
  background-position: -64px -96px;
}
.function_btn .function_top {
  background-position: -96px -64px;
}
.function_btn:hover .function_top {
  background-position: -96px -96px;
}
.function_btn_color .function_quick {
  background-position: -128px -63px;
}
.function_btn_color:hover .function_quick {
  background-position: -128px -96px;
}
.function_btn .function_connect {
  background-position: -64px -160px;
}
.function_btn:hover .function_connect {
  background-position: -96px -160px;
}
.function_btn .function_phone {
  background-position: -64px -128px;
}
.function_btn:hover .function_phone {
  background-position: -96px -128px;
}
.function_btn .function_print {
  background-position: -124px -203px;
}
.function_btn:hover .function_print {
  background-position: -124px -243px;
}
.function_sub_list {
  position: absolute;
  right: 61px;
  top: 0;
  padding: 6px 0 4px 10px;
  background: #69bcfb;
  width: 190px;
}
.function_sub_list a {
  margin-right: 10px;
  float: left;
  display: inline;
  color: #fff;
  text-align: center;
  width: 28px;
  cursor: pointer;
}
.function_sub_list a:hover {
  text-decoration: none;
}
.function_sub_list i {
  display: block;
  border: 2px solid #85c8fc;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  margin-bottom: 5px;
}
.function_sub_list .function_sub_xl {
  background-position: -160px 0;
}
.function_sub_list .function_sub_tx {
  background-position: -160px -24px;
}
.function_sub_list .function_sub_rr {
  background-position: -160px -48px;
}
.function_sub_list .function_sub_kj {
  background-position: -160px -72px;
}
.function_sub_list .function_sub_yx {
  background-position: -160px -96px;
}
.function_code {
  clear: both;
  position: absolute;
  right: 0;
  top: 61px;
  width: 198px;
  padding: 20px 0 16px;
  text-align: center;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-top: none;
  color: #999;
}
.function_code img {
  vertical-align: top;
  width: 118px;
  height: 118px;
  margin-bottom: 10px;
}
.function_collect_pop {
  position: absolute;
  width: 370px;
  right: 60px;
  top: 0;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-top: 2px solid #69bcfb;
  text-align: left;
}
.function_collect_pop h3 {
  height: 58px;
  padding: 0 10px;
  background-color: #eef8ff;
  color: #69bcfb;
  font: 18px/58px microsoft yahei, simsun, sans-serif;
  position: relative;
}
.function_collect_pop .close {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  background-position: 0 -128px;
  top: 16px;
}
.function_collect_pop .pop_bd {
  padding: 10px;
  zoom: 1;
}
.function_collect_pop .content_notice {
  background-color: #fff;
  position: relative;
}
.function_collect_pop dl {
  padding: 4px 0 10px;
  border-top: 1px solid #eee;
  margin-top: -1px;
}
.function_collect_pop dt {
  padding-bottom: 4px;
  color: #999;
}
.function_collect_pop .input_text {
  width: 152px;
}
.function_collect_pop .or {
  display: inline-block;
  width: 16px;
  text-align: center;
  color: #999;
}
.function_collect_pop .error {
  color: #ff4c4c;
  padding-bottom: 10px;
}
.function_collect_pop .error i {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-position: -160px -128px;
  vertical-align: -2px;
  margin-right: 4px;
}
.public_bar_content {
  position: absolute;
  z-index: 120;
  border: 1px solid #69bcfb;
  background-color: #fff;
}
.public_bar_content i {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  top: 50%;
  right: -10px;
  margin-top: -10px;
  border-style: dashed none dashed solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}
.public_connect_us {
  width: 220px;
  height: 90px;
  padding: 20px;
  left: -261px;
  top: -35px;
}
.public_connect_us p {
  font: normal 16px/24px "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}
.public_connect_us .phone {
  color: #69bcfb;
  font: normal 30px/30px Tahoma, Simsun, sans-serif;
  margin-top: 10px;
}
.public_twodimension_code {
  width: 270px;
  left: -271px;
  top: -64px;
  background: url(../../../../../../../vacation_v2/searchresult/bg_searchcode.png)
    no-repeat 0 0;
  height: 166px;
}
.public_twodimension_code .img {
  position: absolute;
  left: 47px;
  top: 43px;
  width: 94px;
  height: 94px;
}
.public_twodimension_code .link {
  display: block;
  background-color: #f4f7f9;
  height: 26px;
  line-height: 26px;
  color: #333;
  text-align: center;
}
.channel_hot_dest dt,
.start_city_station dt {
  white-space: nowrap;
}
.new_search_content {
  position: relative;
  float: left;
  width: 280px;
  height: 34px;
  border: 3px solid #fe9813;
  padding-left: 105px;
  border-radius: 5px 0 0 5px;
  box-shadow: 1px 1px 3px #ddd inset;
}
.new_search_box {
  position: relative;
  height: 34px;
  overflow: hidden;
}
.new_search_notice {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 280px;
  height: 34px;
  font: 16px/34px microsoft yahei, simsun;
  text-indent: 1em;
  color: grey;
  cursor: text;
}
.new_search_content .search_txt {
  width: 272px;
  height: 27px;
  font: 16px/27px microsoft yahei, simsun, sans-serif;
  background-color: transparent;
  border: 0 none;
  box-shadow: inherit;
}
.catalog_list {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 102px;
  border-width: 1px;
  border-style: solid;
}
.catalog_list a {
  display: block;
  font: 14px/28px microsoft yahei, simsun, sans-serif;
  color: #666;
  padding-left: 10px;
}
.catalog_list a:hover {
  text-decoration: none;
}
.catalog_list dt a {
  position: relative;
  color: #333;
  line-height: 32px;
  height: 33px;
}
.catalog_list dt i {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  font-size: 0;
  right: 10px;
}
.catalog_list dd a:hover {
  background-color: #eee;
  color: #666;
}
.catalog_icon_down {
  border-color: #fe9813;
  border-right-width: 2px;
}
.catalog_icon_down dt a {
  background-color: #fff8d5;
}
.catalog_icon_down dt a:hover,
.catalog_icon_up dt a:hover {
  color: #06c;
  background-color: #fff;
}
.catalog_icon_down dt a:hover i {
  border-top-color: #06c;
}
.catalog_icon_up dt a:hover i {
  border-bottom-color: #06c;
}
.catalog_icon_up {
  border-color: #fd8d01;
}
.catalog_icon_up dt i {
  border-style: none dashed solid dashed;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #666 transparent;
  top: 14px;
}
.catalog_icon_down dt i {
  border-style: solid dashed none dashed;
  border-width: 4px 4px 0 4px;
  border-color: #fa8a22 transparent transparent transparent;
  top: 14px;
}
:root .catalog_icon_up dt i {
  border-width: 0 4px 4px 4px;
}
:root .catalog_icon_down dt i {
  top: 15px;
}
.place_list {
  position: absolute;
  width: 410px;
  left: 103px;
  top: 37px;
  border: 1px solid #aaa;
  background-color: #fff;
  padding: 5px 0;
}
.place_list li a {
  display: block;
  height: 28px;
  overflow: hidden;
  font: 12px/28px microsoft yahei, simsun, sans-serif;
  color: #aaa;
  text-align: right;
  padding: 0 10px;
}
.place_list li span {
  float: left;
  width: 280px;
  text-align: left;
  font: 14px/28px microsoft yahei, simsun, sans-serif;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.place_list li span em {
  font-style: normal;
  color: #aaa;
}
.place_list a:hover {
  background-color: #ecf8fd;
  text-decoration: none;
}
.place_list .place_catalog {
  border-bottom: 1px solid #ddd;
}
.place_list .place_catalog a {
  padding-left: 24px;
}
.search_label_ad {
  position: absolute;
  z-index: 10;
  background-color: #ff4d4d;
  height: 22px;
  border-radius: 5px 0 0 5px;
  top: -20px;
  left: 50px;
  padding: 0 30px 2px 5px;
}
.search_label_ad b {
  position: absolute;
  top: 24px;
  left: 22px;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  border-width: 4px;
  border-style: solid dashed dashed solid;
  border-color: #ff4d4d transparent transparent #ff4d4d;
}
.search_content_red {
  color: #fff;
  padding-top: 2px;
}
.search_content_red .know {
  color: #fff4c4;
  text-decoration: underline;
}
.search_content_red .know:hover {
  color: #fc9;
}
.search_content_red .close {
  position: absolute;
  top: 0;
  width: 26px;
  height: 24px;
  background: url(../../../../../../../vacation_v2/searchresult/icon_close.png)
    #ff4d4d 7px 7px no-repeat;
  border-left: solid 1px #ec3a3a;
  border-radius: 0 5px 5px 0;
  margin-left: 6px;
}
.search_content_red .close:hover {
  background-color: #ec2626;
  border-left: solid 1px #ec2626;
}
.station_search {
  margin-top: 10px;
}
.station_search_box {
  height: 28px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #ddd inset;
  position: relative;
  z-index: 3;
}
.station_search_box input {
  border: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  box-shadow: none !important;
  width: 96%;
  height: 22px;
  margin: 2px 2%;
  outline: 0;
}
.station_search_box input:focus {
  background-color: #fff !important;
}
.station_search_box p {
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
  text-indent: 10px;
  z-index: -1;
  line-height: 28px;
}
.station_wordsselect {
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}
.station_wordsselect a {
  display: inline-block;
  padding: 0 10px;
  line-height: 22px;
  height: 22px;
  white-space: nowrap;
  color: #000;
  font-family: "Microsoft yahei";
}
.station_wordsselect a.on,
.station_wordsselect a:hover {
  color: #fff !important;
  background-color: #1d74e6;
  text-decoration: none;
}
.station_search_list {
  margin-top: -1px;
  display: none;
  position: relative;
  z-index: 1;
  max-height: 442px;
  overflow: auto;
  scrollbar-face-color: #ddd;
  scrollbar-highlight-color: #ddd;
  scrollbar-shadow-color: #fff;
  scrollbar-3dlight-color: #fff;
  scrollbar-arrow-color: #fff;
  scrollbar-track-color: #f8f8f8;
  scrollbar-darkshadow-color: #f8f8f8;
  padding-right: 1px;
}
.station_search_list::-webkit-scrollbar {
  width: 8px;
}
.station_search_list::-webkit-scrollbar-thumb {
  background: #ddd;
}
.station_search_list::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
}
.station_search_list li {
  padding-left: 15px;
  line-height: 30px;
  border-top: 1px dotted #eaeaea;
}
.station_search_list li:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.station_search_list li span {
  margin-left: -15px;
  font-size: 14px;
  color: #1d74e6;
  font-weight: 700;
  float: left;
  margin-top: 1px;
}
.station_search_list li a {
  display: inline-block;
  margin-left: 15px;
  color: #000;
}
.station_search_list li a:hover {
  color: #1d74e6;
}
.station_search_result {
  padding: 5px 0;
  font-weight: 700;
}
.station_search_result a {
  display: inline-block;
  margin-right: 10px;
  line-height: 28px;
  color: #0065bb;
}
.pubFlights_KA,
.pubFlights_ka {
  background: url(../../../../../../../VacationOnlinePic/vacation_v2/detail/KA.png)
    no-repeat 0 0 !important;
}
